* {
	box-sizing: border-box;
}

header.about {
	height: 200px;
}

#main {
	position: relative;
	width: 960px;
	height: calc(100% - 300px);
	padding: 0;
	margin: 0 auto;
}

#profileBox1 {
	position: relative;
	float: left;
	width: 440px;
}

#profileBox2 {
	position: relative;
	float: right;
	width: 440px;
}

.profileHeadT {
	display: table;
}

.profileTImg {
	vertical-align: middle;
	display: table-cell;
	width: 220px;
	height: 150px;
}

.profileTTitle {
	vertical-align: middle;
	display: table-cell;
	width: 220px;
}

.profileTTitleName {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 1.75em;
	color: #34495E;
}

.profileTTitleTwitter {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 1.25em;
	color: #34495E;
}

.profileBody {
	padding: 25px 0;
	text-align: left;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #34495E;
}