/* *** general *** */

html, body {
	border: 0;
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
	background: #ECF0F1;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

a {
	text-decoration: none;
	color: #3498db;
}

img {
	border: 0;
}

.index {
	/* style consistent across all index-classed elements */
}

/*
	HEADER SECTION

	header
	>	headerLogo
	>	headerDiv
		>	headerDivImg
			>	ipadImg
		>	headerDivBody
			>	headerTagline
			>	centerInset
				>	inputMain
				>	a > actionButton
				>	insetTagline
				>	buttonImg
*/

header {
	background: #ECF0F1;
	padding: 0;
	position: relative;
}

header.index {
	height: 100%;
	margin-bottom: -35px;
}

.headerLogo {
	padding: 80px 0 5px 0;
	margin: 0 auto;
	height: 20%;
	min-height: 120px;
	text-align: center;
	position: relative;
}

.logo {
	position: relative;
    font-size: 70px;
    color: #C0392B;
    font-family: 'NexaHeavy';
    font-weight: normal;
    line-height: 70px;
}

/* The following lines create inset effect */
.logo:before, .logo:after {
	position: absolute;
	color: rgba(255,255,255,.1);
	content: 'HairStory';
}
.logo:before { top: 3px; left: 3px; }
.logo:after { top: 5px; left: 5px; }

#headerDiv {
	display: table;
	height: 100%;
	min-height: 550px;
	width: 70%;
	margin: 0 auto;
	padding-top: 5px;
}

#headerDivImg {
	display: table-cell;
	vertical-align: middle;
	float: left;
	width: 50%;
	margin: 5px 10px 10px 0px;
}

#headerDivBody {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	float: right;
	width: 45%;
	padding-top: 25px;
	margin: 5px 10px 10px 0px;
}

#headerTagline {
	color: #34495e;
    font-family: 'Roboto';
    font-size: 36px;
    margin-bottom: 40px;
}

#centerInset {
	position: relative;
	padding-top: 50px;
	padding-bottom: 10px;
	text-align: center;
	margin: 0 10px 0 100px;
}

#insetTagline {
	color: #000;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 100;
}

#inputMain {
	padding: 5px;
	margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #828282;
    border-radius: 6px;

    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 100;
    height: 50px;
    width: 85%;
    text-align: center; 
}

#inputMain:active, #inputMain:focus, #inputMain:hover {
    background: #FFFFFF;
    box-shadow: inset 0 0 3px #029C40;
}

#actionButton {
    background: none repeat scroll 0 0 #C0392B;
    border-radius: 6px 6px 6px 6px;
    color: #ECF0F1;
    font-family: 'Roboto';
    font-size: 24px;
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 87%;
}

#actionButton:active, #actionButton:focus, #actionButton:hover {
    background: none repeat scroll 0 0 #E74C3C;
    text-decoration: none;
}

.buttonImg {
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

/*
	CONTENT SECTION

	content
	>	contentDiv
		>	contentDivImg
			>	img
		>	contentDivBody
			>	contentDivBodyTitle
			>	contentDivBodyText

*/

#content {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

.contentDiv {
	height: 450px;
	width: 100%;
	margin: 0;
	padding: 0 0;
	position: relative;
}

#div1 {
	background: #34495e;
}
#div2 {
	background: #E67E22;
}
#div3 {
	background: #3498db;
}
#div4 {
	background: #363534;
}

.contentDivImg {
	position: absolute;
	top: 50%;
	bottom: 0;
	text-align: center;
	margin: -187px auto 0;
}

.contentDivBody {
	position: absolute;
	top: 0;
	bottom: 0;

	height: 50%;
	width: 35%;

	margin: auto;
}

/* set floats and margin-left or -right to flip */
#div1 .contentDivImg { float: right; left: 40%; right: 0; }
#div1 .contentDivBody { float: left; right: 50%; }
#div2 .contentDivImg { float: left; left: 0; right: 40%; }
#div2 .contentDivBody { float: right; left: 50%; }
#div3 .contentDivImg { float: right; left: 40%; right: 0; }
#div3 .contentDivBody { float: left; right: 50%; }
#div4 .contentDivImg { float: left; left: 0; right: 40%; }
#div4 .contentDivBody { float: right; left: 50%; }

.contentDivBodyTitle {
	color: #ECF0F1;
	font-family: 'Roboto';
	font-size: 32px;
	font-weight: normal;
	margin-top: 30px;
	text-align: left;
}

.contentDivBodyText {
	color: #ECF0F1;
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: 300;
	text-align: left;
}

.contentDivBodyText b {
	font-family: 'Roboto';
	font-weight: 500;
}

#img1 {
	width: 100%;
	min-width: 500px;
	margin: 0 auto;
}

.imgContent {
	height: 375px;
	margin: 0 auto;
}

/*
	FOOTER SECTION

	footer
	>	nav
		>	footerLinks
			>	footerLink
		>	footerShare
			> AddToAny
*/

footer {
	position: relative;
	height: 100px;
	min-width: ;
	width: 75%;
	margin: 0 auto;
	white-space: nowrap;
}

.footerLinks {
	margin: 0 auto;
	position: relative;
	float: left;
	width: 50%;
	height: 100px;
	text-align: left;
	vertical-align: middle;
}

.footerLink {
	margin: 0 auto;
    padding-right: 50px;
    padding-left: 0;
	color: #363534;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 100px;
    text-decoration: none;
    font-weight: normal;
}

.footerLink:hover, .footerLink:focus, .footerLink:active {
	color: #C0392B;
	text-decoration: none;
	font-weight: normal;
}

.footerShare {
	margin: 0;
	padding: 30px 0;
	position: relative;
	float: right;
	text-align: right;
	width: 50%;
}

.footerShareButton {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	width: 38px;
	height: 40px;
}

