html {
    border: medium none;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.actionButton {
    background: none repeat scroll 0 0 #C0392B;
    border-radius: 6px 6px 6px 6px;
    color: #ECF0F1;
    font-family: 'Roboto';
    font-size: 24px;
    height: 90px;
    line-height: 90px;
    margin-top: 50px;
    text-align: center;
    width: 340px;
}
a {
    text-decoration: none;
}
.actionButton:hover {
    background: none repeat scroll 0 0 #E74C3C;
    text-decoration: none;
}
.actionButtonGreen {
    background: none repeat scroll 0 0 #27AE60;
    border-radius: 6px 6px 6px 6px;
    color: #ECF0F1;
    font-family: 'Roboto';
    font-size: 24px;
    height: 90px;
    line-height: 90px;
    margin-top: 50px;
    text-align: center;
    width: 280px;
}
.actionButtonGreen:hover {
    background: none repeat scroll 0 0 #2ECC71;
    text-decoration: none;
}
.homepageMessageTitle {
    color: #626668;
    font-family: 'Roboto';
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.homepageMessage {
    color: #626668;
    font-family: 'Roboto';
    font-size: 30px;
    margin-top: 50px;
}
.homepageMessage b {
    font-family: 'Roboto';
    font-weight: normal;
}
.homepageMessageWhite {
    color: #ECF0F1;
    font-family: 'Roboto';
    font-size: 36px;
    margin-top: 50px;
}
.homepageMessageWhite b {
    font-family: 'Roboto';
    font-weight: normal;
}
.homepageText {
    color: #ECF0F1;
    font-family: 'Roboto';
    font-size: 22px;
    margin-top: 20px;
    font-weight: 100;
}
.homepageText b {
    font-family: 'Roboto';
    font-weight: 500;
}
.homepageText a {
    color: gray;
    text-decoration: none;
}
.homepageText a:active {
    color: #A3C5DB;
    text-decoration: none;
}
.homepageTextTitle {
    color: #ECF0F1;
    font-family: 'Roboto';
    font-size: 38px;
    font-weight: normal;
    margin-top: 50px;
}
.boxWrapper {
    height: 400px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.boxContainer {
    margin: 0 auto;
    width: 960px;
}
.boxTable {
    display: table;
    height: 400px;
    text-align: left;
    width: 65%;
}
.boxTableCell {
    display: table-cell;
    vertical-align: middle;
}
.boxImage {
    padding-top: 50px;
    text-align: right;
}

/* footer */

.footerLink {
    color: grey;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.footerLink:hover {
    color: #C0392B;
    text-decoration: none;
}
.shareButtons {
    position: absolute;
    right: 50px;
    text-align: right;
    top: 50px;
    width: 100%;
}

#footerTable {
    position:       relative;
    height:         190px;
    width:          65%;
    margin-top:     20px;
    margin-bottom:  20px;
    text-align:     center;
}






